:root {
    --background-image: url('../imgs/themes/cherry-pink.jpeg');
    --light-or-dark: white;
    --loader-color: #b90970;
    --loader-message-color: rgb(243, 11, 154);
    --loader-border: 8px solid #a3027b;
    --loader-top-border: rgb(243, 11, 154);
    --playground-logo: url('../imgs/themes/OP-Logo-purple-(1).png');
    --home-title-color: #f916c0;
    --battery-light-or-dark: 2px solid white;
    --invert-light-or-dark: invert(1);
    --description-color: rgba(255, 255, 255, 0.75);
    --bottom-nav: #f916c0;
    --bottom-nav-border: 1px solid #ea0cb3;
    --search-bar-bg: #5b13b9;
    --search-bar-light-or-dark: #bdbecb;
    --app-button-color: #f916c0;
    --app-button-color-hover: #ea0cb3;
    --switch-color: #dd19bc;
}