:root {
    --background-image: url('../imgs/themes/eternal-darkness.jpeg');
    --light-or-dark: white;
    --loader-color: black;
    --loader-message-color: white;
    --loader-border: 8px solid gray;
    --loader-top-border: white;
    --playground-logo: url('../imgs/themes/playground-logo.png');
    --home-title-color: #f97316;
    --battery-light-or-dark: 2px solid white;
    --invert-light-or-dark: invert(1);
    --description-color: rgba(255, 255, 255, 0.75);
    --bottom-nav: black;
    --bottom-nav-border: 1px solid #292929;
    --search-bar-bg: #353535;
    --search-bar-light-or-dark: #bdbecb;
    --app-button-color: #000000;
    --app-button-color-hover: #ffffff;
    --switch-color: #000000;
}