:root {
    --background-image: url('../imgs/themes/cursed-background.png');
    --title-font: "Comic Sans MS", cursive;
    --main-font: "Times New Roman", serif;
    --light-or-dark: black;
    --loader-color: #7e4300;
    --loader-message-color: orange;
    --loader-border: 8px solid #A86B0E;
    --loader-top-border: orange;
    --playground-logo: url('../imgs/themes/playground-logo.png');
    --home-title-color: #f97316;
    --battery-light-or-dark: 2px solid black;
    --invert-light-or-dark: invert(1);
    --description-color: rgba(0, 0, 0, 0.75);
    --bottom-nav: #ececec;
    --bottom-nav-border: 1px solid #ececec;
    --search-bar-bg: #dbdbdb;
    --search-bar-light-or-dark: #000000;
    --app-button-color: #f97316;
    --app-button-color-hover: #ea580c;
    --switch-color: #ffffff;
}

.loader::after {
    content: "C";
    font-family: "Comic Sans MS", cursive;
    font-size: 4rem;
    color: orange;
    border: none;
    width: auto;
    height: auto;
    border-radius: 0;
}