:root {
    --background-image: url('../imgs/themes/mocha-brown.jpeg');
    --light-or-dark: white;
    --loader-color: #552f04;
    --loader-message-color: rgb(155, 76, 3);
    --loader-border: 8px solid #945a02;
    --loader-top-border: rgb(155, 76, 3);
    --playground-logo: url('../imgs/themes/playground-logo.png');
    --home-title-color: #81400f;
    --battery-light-or-dark: 2px solid white;
    --invert-light-or-dark: invert(1);
    --description-color: rgba(255, 255, 255, 0.75);
    --bottom-nav: #81400f;
    --bottom-nav-border: 1px solid #5a2306;
    --search-bar-bg: #723103;
    --search-bar-light-or-dark: #bdbecb;
    --app-button-color: #81400f;
    --app-button-color-hover: #5a2306;
    --switch-color: #834a00;
}